Repository Learning-Is-Vital-In-Development/23-4-effective_java, pull requests merged in 2023-02, with the labels that each got.

#112 [#22]인터페이스는 타입을 정의하는 용도로만 사용하라(심규민)
  ch04/item22/README.md
Labels: 클래스와 인터페이스

#117 [#24]멤버 클래스는 되도록 static으로 만들라(기천)
  ch04/item24.md
Labels: 클래스와 인터페이스

#116 [#28]배열보다는 리스트를 사용하라(수환)
  ch05/item28/README.md
  ch05/item28/README.pdf
Labels: 제네릭

#114 [#23]태그가 달린 클래스보다는 클래스보다는 클래스 계층구조를 활용하라(혁)
  ch04/item23/README.md
Labels: 클래스와 인터페이스

#115 [#26] 로 타입은 사용하지 말라(도진)
  ch05/item26/README.md
Labels: 제네릭

#121 [#32]제네릭과 가변인수를 함께 쓸 때는 신중하라(심규민)
  ch05/item32/README.md
Labels: 제네릭

#124 [#34]int 상수 대신 열거 타입을 사용하라(수환)
  ch06/item34/README.md
Labels: 열거 타입과 애너테이션

#123 [#29]이왕이면 제네릭 타입으로 만들라(기천)
  ch05/item29/README.md
Labels: 제네릭

#122 [#31] 한정적 와일드카드를 사용해 API 유연성을 높이라(도진)
  ch05/item31/README.md
Labels: 제네릭

#119 [#33] 타입 안전 이종 컨테이너를 고려하라(혁)
  ch05/item33/README.md
Labels: 제네릭

#131 [#42]익명 클래스보단 람다를 사용하라(수환)
  ch07/item42/README.md
Labels: 람다와 스트림

#129 [#36]비트 필드 대신 EnumSet을 사용하라 (기천)
  ch06/item36/README.md
Labels: 열거 타입과 애너테이션

#130 [#41]정의하려는 것이 타입이라면 마커 인터페이스를 사용하라(도진)
  ch06/item41/README.md
Labels: 열거 타입과 애너테이션

#128 [#38]확장할 수 있는 열거 타입이 필요하면 인터페이스를 사용하라(심규민)
  ch06/item38/README.md
Labels: 열거 타입과 애너테이션

#126 [#39] 명명 패턴보다 애너테이션을 사용하라(혁)
  ch06/item39/README.md
Labels: 열거 타입과 애너테이션

#136 [#44]표준 함수형 인터페이스를 사용하라(도진)
  ch07/item44/README.md
Labels: 람다와 스트림

#137 [#46]스트림에서는 부작용 없는 함수를 사용하라(수환)
  ch07/item46/README.md
Labels: 람다와 스트림

#135 [#48] 스트림 병렬화는 주의해서 적용하라(혁)
  ch07/item48/AbstractSpliterator.png
  ch07/item48/README.md
  ch07/item48/parallelStream.png
  ch07/item48/spliterator.png
Labels: 람다와 스트림

#134 [#43]람다보다는 메서드 참조를 사용하라(심규민)
  ch07/item43/README.md
Labels: 람다와 스트림

#133 [#45] 스트림은 주의해서 사용하라 (기천)
  ch07/item45/README.md
Labels: 람다와 스트림
