Repository Learning-Is-Vital-In-Development/23-4-effective_java, pull requests merged in 2023-01, with the labels that each got.

#96 [#7]다 쓴 객체 참조를 해제하라(도진)
  .gitignore
  ch01/item07.md
Labels: 객체 생성과 파괴

#97 [#6]불필요한 객체 생성을 피하라(기천)
  ch01/item06.md
Labels: 객체 생성과 파괴

#94 [#1]생성자 대신 정적 팩터리 메서드를 고려하라(수환)
  ch01/item_01.md
Labels: 객체 생성과 파괴

#102 [#14]Comparable을 구현할지 고려하라(도진)
  ch03/item14/README.md
  ch03/item14/README.pdf
Labels: 모든 객체의 공통 메서드

#100 [#12]toString을 항상 재정의하라(수환)
  ch03/item12/item12.md
Labels: 모든 객체의 공통 메서드

#98 [#13]clone 재정의는 주의해서 진행하라(심규민)
  ch02/item02/README.md
  ch03/item13/README.md
Labels: 모든 객체의 공통 메서드

#103 [#9]try-finally보다는 try-with-resources를 사용하라(기천)
  ch02/item09/README.md
Labels: 객체 생성과 파괴

#101 [#10]equals는 일반 규약을 지켜 재정의하라(혁)
  ch02/item03/README.md
  ch03/item10/README.md
Labels: 모든 객체의 공통 메서드

#110 [#21]인터페이스는 구현하는 쪽을 생각해 설계하라(도진)
  ch04/item21/README.md
Labels: 클래스와 인터페이스

#111 [#15]클래스와 멤버의 접근 권한을 최소화하라(기천)
  ch04/item15.md
Labels: 클래스와 인터페이스

#106 [#16]public 클래스에서는 public 필드가 아닌 접근자 메서드를 사용하라(최현준)
  ch03/item16/item16.md
Labels: 클래스와 인터페이스

#108 [#20]추상 클래스보다는 인터페이스를 우선하라
  ch03/item20/README.md
Labels: 클래스와 인터페이스

#109 [#17]변경 가능성을 최소화하라(수환)
  ch04/item17/README.md
  ch04/item17/item17.pdf
Labels: 클래스와 인터페이스

#107 [#18]상속보다는 컴포지션을 사용하라(혁)
  ch04/item18/README.md
Labels: 클래스와 인터페이스

#105 [#19]상속을 고려해 설계하고 문서화하라. 그러지 않았다면 상속을 금지하라(심규민)
  ch04/item19/README.md
Labels: 클래스와 인터페이스
